<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:50:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AkveoTest.beforeTest()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:03</td>   <td>41210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.HomePageTitle()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">HomePageTitle</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:30</td>   <td>68150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.ElectricityConsumed()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">ElectricityConsumed</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:31</td>   <td>69500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_Icons()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">UIFeature_Icons</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:36</td>   <td>75054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_TypoGrapy()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">UIFeature_TypoGrapy</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:42</td>   <td>80392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_Model()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">UIFeature_Model</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:47</td>   <td>85689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Form_Layout()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">Form_Layout</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:53</td>   <td>91202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Google()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">Map_Google</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:58</td>   <td>96763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Leaflet()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">Map_Leaflet</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:51:59</td>   <td>97220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Bubble()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">Map_Bubble</td> 
  <td>main@791885625</td>   <td></td> </tr>
<tr bgcolor="f8bb67">  <td>17/12/21 21:52:00</td>   <td>98393</td> <td>&nbsp;</td><td title="&lt;&lt;AkveoTest.afterTest()[pri:0, instance:com.browser.AkveoTest@3830f1c0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791885625</td>   <td></td> </tr>
</table>
