<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.browser.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UIFeature_TypoGrapy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Map_Bubble</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Map_Google</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ElectricityConsumed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Map_Leaflet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UIFeature_Model</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UIFeature_Icons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Form_Layout</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
