<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696690">  <td>17/12/21 15:50:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ElectricityConsumed()[pri:0, instance:com.browser.NewTest@735b478]">ElectricityConsumed</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:16</td>   <td>17529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Form_Layout()[pri:0, instance:com.browser.NewTest@735b478]">Form_Layout</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:50:38</td>   <td>-20990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.HomePageTitle()[pri:0, instance:com.browser.NewTest@735b478]">HomePageTitle</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:28</td>   <td>28995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Map_Bubble()[pri:0, instance:com.browser.NewTest@735b478]">Map_Bubble</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:22</td>   <td>23107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Map_Google()[pri:0, instance:com.browser.NewTest@735b478]">Map_Google</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:27</td>   <td>28655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Map_Leaflet()[pri:0, instance:com.browser.NewTest@735b478]">Map_Leaflet</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:00</td>   <td>1337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.UIFeature_Icons()[pri:0, instance:com.browser.NewTest@735b478]">UIFeature_Icons</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:11</td>   <td>12241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.UIFeature_Model()[pri:0, instance:com.browser.NewTest@735b478]">UIFeature_Model</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:51:05</td>   <td>6889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.UIFeature_TypoGrapy()[pri:0, instance:com.browser.NewTest@735b478]">UIFeature_TypoGrapy</td> 
  <td>main@1681595665</td>   <td></td> </tr>
<tr bgcolor="696690">  <td>17/12/21 15:50:31</td>   <td>-27477</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.browser.NewTest@735b478]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1681595665</td>   <td></td> </tr>
</table>
