<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.ElectricityConsumed()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">ElectricityConsumed</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.ElectricityConsumed()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">ElectricityConsumed</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.ElectricityConsumed()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">ElectricityConsumed</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.Form_Layout()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">Form_Layout</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.Form_Layout()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">Form_Layout</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Form_Layout()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">Form_Layout</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.HomePageTitle()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">HomePageTitle</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.HomePageTitle()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">HomePageTitle</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.HomePageTitle()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">HomePageTitle</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.Map_Bubble()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">Map_Bubble</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.Map_Bubble()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">Map_Bubble</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Bubble()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">Map_Bubble</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.Map_Google()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">Map_Google</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.Map_Google()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">Map_Google</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Google()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">Map_Google</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.Map_Leaflet()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">Map_Leaflet</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.Map_Leaflet()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">Map_Leaflet</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.Map_Leaflet()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">Map_Leaflet</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.UIFeature_Icons()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">UIFeature_Icons</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.UIFeature_Icons()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">UIFeature_Icons</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_Icons()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">UIFeature_Icons</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.UIFeature_Model()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">UIFeature_Model</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.UIFeature_Model()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">UIFeature_Model</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_Model()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">UIFeature_Model</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestChrome.UIFeature_TypoGrapy()[pri:0, instance:com.browser.AkveoTestChrome@1fcd12c]">UIFeature_TypoGrapy</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTestIE.UIFeature_TypoGrapy()[pri:0, instance:com.browser.AkveoTestIE@f30e0a]">UIFeature_TypoGrapy</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AkveoTest.UIFeature_TypoGrapy()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">UIFeature_TypoGrapy</td> 
  <td>main@4036432</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/12/21 20:40:42</td>   <td>-203</td> <td>&nbsp;</td><td title="&gt;&gt;AkveoTest.beforeTest()[pri:0, instance:com.browser.AkveoTest@1abe2cd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4036432</td>   <td></td> </tr>
</table>
